<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Mission Show</title>
  </head>
  <body>
    <h1>Missions show page</h1>
    <p>
      The mission name is <%= mission.name %>.
      Lauch Date: <%= mission.launchDate %>.
      Operator: <%= mission.operator %>.
      Mission type: <%= mission.missionType %>.
      Image: <img src=<%= mission.img %>>

      <a href='http://localhost:3000/missions/'>Back to Index Page</a>  
    </p>
  </body>
</html>

